
<!DOCTYPE html>
<html lang="en">
  {% include "partials/_head.html" %}
  <body>
    {% include "partials/_bar.html" %}
    <div id="left">
      <div class="resize-handle" id="leftResizeHandle"></div>
      {% include "partials/_gen.html" %}
      {% include "partials/_right_mesh_ingest.html" %}
      {% include "partials/_right_components.html" %}
      {% include "partials/_right_recs.html" %}
    </div>
    {% include "partials/_canvas.html" %}
    <div id="right">
      <div class="resize-handle" id="rightResizeHandle"></div>
      {% include "partials/_left_camera.html" %}
    </div>
    {% include "partials/_param_mapping_popup.html" %}
    {% include "partials/_console.html" %}

    <!-- External module script (recommended) -->
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>

